a.tag {
    background-color: #152035;
    color: #ffffff;
    padding: 2px 15px;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 800;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button.view-all {
    background-color: #f67280;
    width: 150px;
    height: 45px;
    border-radius: 4%;
    color: #ffffff;
    font-weight: 700;
    margin-top: 0px;
    border: 1px solid #f67280;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    display: block;
    margin: 20px auto;
}

.tag:hover {
    background-color: #f67280;
    color: #ffffff !important;
}